<div>
  <h2>Customer</h2>
  <table>
    <tbody>
      <tr>
        <td>Name</td>
        <td>{{ customer.fullname }}</td>
      </tr>
      <tr>
        <td>Main Address</td>
        <td>{{ customer.theMainAddress }}</td>
      </tr>
      <tr>
        <td>Site</td>
        <td>{{ customer.sitename }}</td>
      </tr>
      <tr>
        <td>Phone Number</td>
        <td>{{ customer.phone }}</td>
      </tr>
      <tr>
        <td>Unit(s)</td>
        <td>{{ customer.unitlist }}</td>
      </tr>
    </tbody>
  </table>
</div>
